<!-- <li>
  <form id="search-form">
    <input type="text" id="search-query" class="st-default-search-input">
  </form>
</li> -->
<li><a href="/api/" class="nav-link<%- page.path.match(/api/) ? ' current' : '' %>">API</a></li>
<li><a href="/examples/" class="nav-link<%- page.path.match(/examples/) ? ' current' : '' %>">RNUI</a></li>
<li><a href="/examples/" class="nav-link<%- page.path.match(/examples/) ? ' current' : '' %>">Demo</a></li>
<li><a href="/blog/" class="nav-link<%- page.path.match(/blog/) ? ' current' : '' %>">шоишо║</a></li>
<li><a href="https://github.com/react-design/react-ui" class="nav-link<%- page.path.match(/blog/) ? ' current' : '' %>">Github</a></li>
<!-- <%- partial('partials/community_dropdown') %> -->
