<% var isIndex = page.path === 'index.html' %>
<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <title><%- page.title ? page.title + ' - ' : '' %>React Design</title>
        <meta charset="utf-8">
        <meta name="description" content="react ui,react-native ui,移动端ui,多终端解觉方案，react demo ,react 文档">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <!-- <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600|Roboto Mono' rel='stylesheet' type='text/css'>
        <link href='//fonts.googleapis.com/css?family=Dosis:300,500&text=Vue.js' rel='stylesheet' type='text/css'> -->
        <link rel="icon" href="/images/logo.png" type="image/x-icon">
        <script>
            window.PAGE_TYPE = "<%- page.type %>"
        </script>
        <%- css(isIndex ? 'css/index' : 'css/page') %>
        <%- partial('partials/ga') %>
        <script src="//cdn.bootcss.com/react/15.2.1/react.min.js"></script>
				<script src="//cdn.bootcss.com/react/15.2.1/react-dom.min.js"></script>
    </head>
    <body>
        <div id="mobile-bar">
            <a class="menu-button"></a>
            <a class="logo" href="/"></a>
        </div>
        <% if (!isIndex) { %>
            <%- partial('partials/header') %>
            <div id="main">
                <% if (page.blog_index) { %>
                    <%- partial('partials/blog') %>
                <% } else { %>
                    <%- body %>
                <% } %>
            </div>
            <!-- <script src="//cdn.jsdelivr.net/docsearch.js/1/docsearch.min.js"></script> -->
            <script src="/js/smooth-scroll.min.js"></script>
            <script src="/js/common.js"></script>
            <script src="/js/browser.js"></script>
        <% } else { %>
            <%- body %>
        <% } %>


    </body>
</html>
